*{
   margin-left: 0px;
} 

.navigation{
    display: flex;  
   
}

.navigation li img{
    list-style: none;
    display: flex;
    position: relative;
    
    
}
.logo{
    display: none;

}
.icons{
    display: flex;
    /* justify-content: space-between; */
}
    

.icons ul li{
    display: flex;
    

}

.icons ul{
    display: flex;

}



 div a img{
    width: 30px;
    top: 15px;
    padding-top: 10px;
    position: relative;
} 

#vidlogo{
 
    padding: 3px ;
}
input{
     height: 40px;
    width: 200px;
   border-radius: 5px;
    border-color: #050505;
}
#img{
    width: 60%;
    margin-top: 60px;
}

#div1{
    color: rgb(61, 60, 58);
    font-size: 30px;
}

#click{
    font-size: 15px;
}
pa{
    text-decoration: none;
}
.ri{
    border-color: rgb(253, 250, 250);
    margin: 20px;
}

 .navigation{
    position: absolute;
    top: 10px;
    right: 10px;
}
 .navigation ul{
    display: flex;
} 

 .navigation ul li a {
    display: inline;
    color: #0a0a0a;
    text-decoration: none;
} 
 #date-time{
    position:relative;
    bottom: 3px;
    font-size: 19px;
    margin-top: 0%;
    
}

li a img{
    width: 21px;
    height:auto;
    align-items: center;
    width: 17px;
} 

#moto1{
    text-align: center;
    width: 90%;
    position:relative;
    top: 10px;
    font-size: 27px;
}
#div1{
    color: rgb(66, 66, 66);
    font-size: 20px;
    width: 60%;
    position: relative;
    left: 90%;
    text-align: center;
    
}
#join{
    border: none;
    background-color: #fcf9f9;
    width: 0%;
    height: 100px;
    border-radius: 10px;
}
.div2{
    margin: 10px 20px 10px;
    align-items: center;
    position: relative;
    text-align:unset;


}
.moto4{
    padding: 1px 40px;
    margin-left:3px;
    font-size: 16px;
    margin-top: 29px;
    background-position: 10px ;
    border: 2px solid #817f7f;
    background-repeat: no-repeat;
    border-radius: 5px;
    background-size: 20px; 
    background-image: url('keyboard.png');
   
}
#newmeeting{
    
    margin-left:2px;
    text-decoration: none;
    background-color: rgb(31, 97, 240);
    color: white;
    font-size: larger;
    border-radius: 5px;
    padding: 10px 10px;
}
@media(min-width:960px){
    main{
        display: flex;
        position:absolute;
    } 
    li a img{
        
        width: 29px;
        height:auto;
        align-items: center;
        
    }
    #logo{
        width: 120px;
        height: auto;
        background-image: url(logo.png);
        background-repeat: no-repeat;
        background-size:contain;
        height:auto;
        position: fixed;
        top: 30px;
        padding: 25px;
        color: rgb(74, 73, 72);
    }
    #logo::after{
        content: "Meet";
        position:absolute;
        top: 6px;
        left: 160px;
        bottom:10px;
        font-size: 32px;
    }
    .cont1{
        margin:auto;
        width:60%;
        position: relative;
        left: 70px;
        top:0px;
        margin-right: 5px ;
        padding-right: 200px;
    
    }
    #moto1{
        font-size: 65px;
        width:90%;

    }  
    #div1{
        font-size: 25px;
        width: 90%;
        text-align: none;
    }
    .cont2{
        margin-right:100px;
        padding-left: 120px;
    }
    p a{
        top: 50%;
        left: 50%;
        right: 50%;
    }
    .navigation ul li a {
        padding-left: 12px;
    }
    #date-time{
        font-size: 2px;
    }
    #img{
        width: 50%;
    }
    #div1{
        font-size: 40px;
    }
    #newmeeting{
        font-size:125%;
    }
    .divi{
        font-size: 20px;
    }
    

}

@media(min-width:1140px){
        body{
            font-size: 18px;
            margin:0;
            padding: 0;
        }
        #img{
            width: 350px;
            margin-top: 100px;
        }
        
}
